In [2]:
my_dict = {
    1:['susmita dangal','Btm','999999999'],
 
}

type(my_dict)

dict

In [3]:
my_dict[1]

['Aarav Poudel', 'Biratnagar', '999999999']

In [4]:
my_dict[3]=['Sushat Shah','Dharan','9999999']

In [5]:
print(my_dict)

{1: ['Aarav Poudel', 'Biratnagar', '999999999'], 2: ['Bises Adhikari', 'Damak', '999999'], 3: ['Sushat Shah', 'Dharan', '9999999']}

Promt user to enter information of 10 students
Store the information in dictionary with Roll number as key
Store full name, address, email and contact as value

In [20]:
info = {}

for i in range(2):
    roll_no = input("Enter your roll number:")
    full_name = input('Enter your full name:')
    address = input("Enter your address:")
    email = input("Enter your email:")
    contact = input("Enter your contact:")
    info[roll_no]={'full name':full_name,'address':address,'email':email,'contact':contact}

print(info)

{'1': {'full name': 'dfdfs', 'address': 'dsfdsf', 'email': 'sdfds', 'contact': 'dsdsf'}, '2': {'full name': 'sdfdsf', 'address': 'sdfsdf', 'email': 'fdsfsd', 'contact': 'sdfdfs'}}

In [15]:
print(my_dict)
job = my_dict.pop(3)
print(job)

{1: ['Aarav Poudel', 'Biratnagar', '999999999'], 2: ['Bises Adhikari', 'Damak', '999999'], 3: ['Sushat Shah', 'Dharan', '9999999']}
['Sushat Shah', 'Dharan', '9999999']

In [16]:
my_dict

{1: ['Aarav Poudel', 'Biratnagar', '999999999'],
 2: ['Bises Adhikari', 'Damak', '999999']}

In [17]:
for i in my_dict:
    print(i, my_dict[i])

1 ['Aarav Poudel', 'Biratnagar', '999999999']
2 ['Bises Adhikari', 'Damak', '999999']

In [18]:
for i in my_dict.values():
    print(i)

['Aarav Poudel', 'Biratnagar', '999999999']
['Bises Adhikari', 'Damak', '999999']

In [19]:
for key,value in my_dict.items():
    print(key)
    print(value)

1
['Aarav Poudel', 'Biratnagar', '999999999']
2
['Bises Adhikari', 'Damak', '999999']

{
roll_np : {'name':} 
}
1_dict[1][name]

In [27]:
info['1']['full name']

'dfdfs'

In [37]:
def greetings(name,surname=''):
    print(f"Hello and Namaste, {name} {surname}")

greetings(surname='Baniya',name='Saroj')

Hello and Namaste, Saroj Baniya

In [40]:
def square(num):
    y = num*num
    return y
    print("Ths is rubish")

square(4)

16

In [42]:
def sum(*num):
    print(type(num))

sum(2,3,4,5,3,4,5,6,7)

<class 'tuple'>

In [50]:
try:
    div = 1/0
except ZeroDivisionError:
    print('There is a error')
except IndentationError:
    print('Indendation error vayo hai')
else:
    print('Code succesfully compiled')
finally:
    print('Code is tested')

There is a error
Code is tested

In [51]:
1/0

ZeroDivisionError: division by zero