In [5]:
x=5
y=10.0
type(x)
type(y)

float

In [7]:
x= 1+3j
type(x)

complex

In [7]:
# x=True
# type(x)
x=3
y=5
print(bool(x==y))

False

In [4]:
x=None
type(x)

NoneType

In [5]:
x=5
y=float(x)
y

5.0

In [6]:
x='5'
type(int(x))

int

In [16]:
x=int(input("Enter a number:"))
y=int(input("Enter another number:"))
print(x+y)

9

In [17]:
int()
float()
str()

''

In [19]:
name = 'Gomendra'
type(name)

str

In [21]:
name[5]

'd'

In [22]:
len(name)

8

In [24]:
name[0:5]

'Gomen'

In [26]:
name.upper()

'GOMENDRA'

In [1]:
my_list = list((1,2,3,'susmita',10.2))
my_list

[1, 2, 3, 'susmita', 10.2]

In [2]:
my_list[3]='susmita'
my_list

[1, 2, 3, 'susmita', 10.2]

In [33]:
len(my_list)

5

In [3]:
my_list.insert(3,'Susmita')
my_list

[1, 2, 3, 'Susmita', 'susmita', 10.2]

In [4]:
my_list.append('prajwal')
my_list.append(1)
my_list

[1, 2, 3, 'Susmita', 'susmita', 10.2, 'prajwal', 1]

In [41]:
x = (4,5)
type(x)

tuple

In [43]:
x = {1,2,3,4,5,1,2}
x

{1, 2, 3, 4, 5}

In [44]:
name

'Gomendra'

In [5]:
name = 'susmita'
set_1 = set(name)
len(set_1)

6